.hidden {
    display: none;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }
  
  #main {
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Rock 3D', cursive;
  }
  
  #clock {
    margin: 0%;
    font-size: 80px;
    font-weight: bold;
  }
  
  #login-form {
    margin-top: 0;
  }
  
  #login-input {
    display: inline-block;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px;
  }
  
  .submit-button {
    display: inline-block;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 8px;
    background-color: white;
  }
  
  #quote-fist {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 80%;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
  }
  
  #quote-second {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 86%;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
  }
  
  #quote-last {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 92%;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
  }
  
  input#search {
    background-repeat: no-repeat;
    width: 45555px;
    height: 40px;
    border: 0;
  }
  
  #todo-input {
    display: inline-block;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px;
  }
  
  input {
    margin-top: 20px;
  }
  
  #todo-list li::before {
    content: "●";
    position: absolute;
    top: 30;
    right: 58%;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    padding-right: 10px;
  }
  
  ul li button {
    position: absolute;
    top: 30;
    right: 43%;
    display: inline-block;
    border: 1px solid white;
    padding: 2px 2px;
    border-radius: 50px;
    font-size: 8px;
    background-color: white;
  }
  
  ul li span {
    font-family: 'Arial', sans-serif;
  }
  
  #weather {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Rock 3D', cursive;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }